/*Top Level App CSS*/
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
    margin:0;
    padding:0;
    background:#eee;
    font-family: 'Lato', sans-serif;
}
button {
    font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*custom for bigger pc*/
@media (min-width: 1250px) {
  .container {
    max-width: 1220px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1440px) {
  .container-fluid {
    max-width: 1440px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

nav{
    display:block;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items:center;
    margin:0;
    padding:0;
    background:#fff;
}
nav ul li {
    display:block;
    width:100%;
    text-align:center;
}
nav ul li:first-child {
    border-right:2px solid #bebebe;
}
nav ul li a {
    font-size:20px;
    text-decoration:none;
    color:#000;
    font-weight:600;
    display:block;
    width:100%;
    padding:15px 0;
    border-bottom:2px solid #bebebe;
}
nav ul li a.active { 
  border-bottom:3px solid #FF9800;
}